.header {
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 82px;
    margin-top: 23px;
    padding-right: 140px;
}


.mainNav {
    display: flex;
    gap: 60px;
}

.nav_link_btn,
.languageList_li {
    font-family: "Cinzel Decorative", serif;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 5px;
    border-bottom: 2px solid #383838;
}

.burgerMenu {
    display: flex;
    flex-direction: column;
    gap: 11px;
    cursor: pointer;
}

.burgerLine {
    height: 2.5px;
    background-color: #383838;
    width: 40px;
}